div.yellow {
    background-color: yellow!important;
}

div.orange {
    background-color: orange;
}

div.yellow p, div.orange p {
    margin: 10px 0 10px 0;
    padding: 0 5px;
}

div.yellow figure.image a img, div.orange figure.image a img {
    margin: 0 5px;
}

body td a {
    color: blue;
}

td {
    padding: 0 5px 0 0;
}

.site-title {
    font-size: 60px;
    font-family: 'Crimson Text', serif;
    font-weight: normal;
    font-style: italic;
    text-transform: none;
    letter-spacing: -2px;
}

.site-title h2 {
    margin: 0 0;
}

#page-header {
    max-width: none;
    margin: 0 10%;
}

#page-header h1 {
    font-size: 3rem;
    flex-basis: 55%;
    font-family: 'Crimson Text', serif;
}

#page-header h2 {
    font-size: 1.5rem;
}

#page-header nav {
    width: auto;
}

#page-header nav ul {
    justify-content: space-evenly;
}

#page-header nav ul li {
    margin: 0 10px;
}

#page-header nav ul li a {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    line-height: 23px;
}

main[role=main] {
    max-width: 90%;
}


figure.image {
    display: inline-flex!important;
}

.row1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.col1, .col2, .col3 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.col1 {
    flex: 0 1 0;
    padding-right: 25px;
}

.col2 {
    flex: 2 1 0;
    background-image: url("/2014/11/Fondo-Claro.jpg");
    padding: 0 10px;
}

.col3 {
    flex: 1 1 0;
    text-align: right;
    max-width: 25%;
    padding-left: 25px;
}

i.motopress-btn-icon-align-left {
    padding-right: 15px;
}

.col-left, .col-right, .policy, .contact {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1 1 0;
    width: 48%;
}

.col-left {
    background-color: rgba(241, 178, 30, 0.26);
    padding: 0 10px;
}

.col-right {
    padding-left: 10px;
}

td img {
    width: 100%;
}

.col-right ul {
    list-style-type: none;
}

.policy {
    background-color: rgba(241, 178, 30, 0.26);
    padding-right: 10px;
}

.contact {
    background-color: rgba(250, 194, 20, 0.51);
    padding-left: 10px;
}

ul {
    list-style-type: none!important;
}

.policy img, .contact img {
    width: 100%;
}

    .button-obj {
    display: block;
    border-radius: 3px;
    text-align: center;
    padding: 10px 23px;
    font-size: 16px;
    margin: 10px 0px;
    line-height: 1em;
}

.col-right-slides {
    height: 450px;
    width: 600px;
   overflow:hidden;
   position:relative;
 }
 
 .slides{
   position:absolute;
   animation:round 20s infinite;
   opacity:0;
   
 }
 @keyframes round{   
   25%{opacity:1;}
   40%{opacity:0;}
 }
 
.col-right-slides img:nth-child(4){animation-delay:0s;}
.col-right-slides img:nth-child(3){animation-delay:5s;}
.col-right-slides img:nth-child(2){animation-delay:10s;}
.col-right-slides img:nth-child(1){animation-delay:15s;}

.button-bedrooms {
    background-color: #92ca26;
    box-shadow: inset 0 0 0 1px #8ad532;
    background-image: linear-gradient(to top,#7fb615,#afe840);
}

.button-services {
    background-color: #ff8c1a;
    box-shadow: inset 0 0 0 1px #ea8f1a;
    background-image: linear-gradient(to top,#ff7611,#ffac27);
}

.button-reservations {
    background-color: #f2bf0b;
    box-shadow: inset 0 0 0 1px #f2bf0b;
    background-image: linear-gradient(to top,#f1b000,#ffe92e);
}

.code-obj img {
    width: 75%;
}

.code-obj {
    text-align: center;
}
